* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  background-color: #18191a;
}
nav {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #242526;
  border: 1px solid #3b3f42;
  display: flex;
  height: 10vh;
}
#navLeft {
  width: 350px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0px 5px;
}
#fbLogo {
  padding: 9px;
}
#logo {
  position: relative;
  width: 40px;
  height: 40px;
  color: #1198f5;
  border-radius: 50%;
  outline: none;
  text-decoration: none;
}
#searchBarDiv {
  width: 250px;
  height: 40px;
  display: flex;
  cursor: pointer;
  border-radius: 50px;
  background-color: #373e46;
}
#searchBar {
  border: none;
  outline: none;
  width: 200px;
  color: #fff;
  font-size: 16px;
  margin-left: 7px;
  background-color: transparent;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
#searchIconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}
#searchIcon {
  color: #b0b3b8;
  font-size: 15px;
  cursor: pointer;
}
#leftContentBar{
  width: 23%;
  height: 90vh;
  background-color: transparent;
  overflow: auto;
  overflow-x: hidden;
  /* margin-top: 35px; */
}
#navCenter {
  width: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navCentericonsDiv {
  font-size: 23px;
  padding: 16px 40px;
  cursor: pointer;
  color: #73797f;
}
.navCentericonsDiv:hover {
  color: #318ef5;
  background-color: transparent;
  border-bottom: 4px solid #318ef5;
}
.itemsDiv {
  display: flex;
  justify-content: left;
  align-items: center;
}
.icon,
#friendsIcon,
#groupsIcon,
#savedIcon,
#marketplaceIcon,
#memoriesIcon,
#eventsIcon,
#pagesIcon,
#weatherIcon,
#jobsIcon,
#seeMoreIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
}
.profileText {
  color: rgb(228, 230, 235);
  font-size: 15px;
  margin: 2px;
  font-weight: 600;
}
.fa-bookmark {
  color: #ae4bc9;
}
#marketplaceIcon,
#friendsIcon,
.fa-calendar-week,
.fa-flag {
  color: #318ef5;
}
#groupsIcon {
  color: rgb(226, 220, 220);
  background-color: #318ef5;
}
.fa-history {
  color: #318ef5;
  background-color: rgb(226, 220, 220);
}
.fa-cloud-sun {
  color: #b5c7d1;
}
.fa-briefcase {
  color: #e28c39;
}

#leftContentBarUl li {
  margin-left: 20px;
  list-style: none;
}
#leftContentBarUl li:hover {
  border-radius: 10px;
  background-color: #303031;
  cursor: pointer;
}
.fa-chevron-circle-down {
  color: #444546;
  background-color: #e7e9ed;
  border: 5px solid #444546;
}
#profileDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  cursor: pointer;
}
#profileDiv:hover {
  border-radius: 600px;
  background-color: rgba(151, 144, 144, 0.2);
}
#rightNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}
#navprofileText {
  margin-left: 5px;
  color: rgb(228, 230, 235);
  font-size: 15px;
  font-weight: 600;
}
#profileImage {
  margin: 0;
  margin-bottom: -7px;
}
#nineDotImage {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navRightIconsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  background-color: #4e4f50;
  border-radius: 50%;
  padding: 6px;
}
#messengerIconDiv,
#notificationIconDiv,
#dropDownIconDiv {
  width: 35px;
  height: 35px;
  color: #fff;
  margin-left: 10px;
}
.navRightIconsDiv:hover {
  background-color: rgba(151, 144, 144, 0.9);
}
#mainContent {
  z-index: 0;
  display: flex;
  position: absolute;
  top: 70px;
  width: 100%;
}
.MaincenterContent {
  width: 54%;
  display: flex;
  justify-content: center;
}
#centerContent{
  overflow: auto;
  overflow-y: hidden;
  width: 600px;
}
#storyDiv {
  height: 220px;
      display: flex;
      justify-content: center;
      align-items: stretch;
      background-color: transparent;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
}
#story1Div{
  position: relative;
  width: 110px;
  height: 200px;
  background-color: #202122;
  border-radius: 14px;
  cursor: pointer;
}
#story1Div:hover{
  opacity: 0.7;
}
#stort1Image {
  width: 110px;
  height: 150px;
  background-color: #fff;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
}
#storyCreateIcon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #297be6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#createStoryIconDiv:hover {
  opacity: 0.9;
}
#createStoryIconDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #297be6;
  background-color: #73797f;
  margin-top: -30px;
  margin-left: 30%;
}
#storyText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #e7e9ed;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 12px;
  font-size: 15px;
}
.story1Img {
  width: 110px;
  height: 200px;
  border-radius: 13px;
}
.story2Img {
  width: 40px;
  height: 40px;
  border: 3px solid #318ef5;
  border-radius: 50%;
}
.storyProfileImg {
  margin-left: -100px;
  margin-top: 10px;
}
.storyDiv {
  display: flex;
  justify-content: center;
  margin-right: 12px;
  cursor: pointer;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
}
.storyDiv:hover {
  opacity: 0.5;
}
.story1Div:hover {
  opacity: 0.5;
}
#MaincenterContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
#centerContent2 {
  width: auto;
  height: auto;
  margin: 20px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
#createPost1 {
  border-radius: 7px;
  width: 498px;
  height: 140px;
  padding: 10px;
  background-color: #242526;
}
#createPost1UperContent {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#uperContentProfileImg {
  padding: 4px;
}
#upperContentImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
#upperContentImage:hover {
  opacity: 0.8;
}
#createPost1LowerContent {
  background-color: #3a3b3c;
  border-radius: 50px;
  width: 420px;
  height: 40px;
  font-size: 17px;
  font-weight: 500;
  margin-left: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
#createPost1LowerContent span {
  margin-left: 20px;
  color: #b8bbbf;
}
#createPost1LowerContent:hover {
  background-color: #4e4f50;
}
#lineBrake {
  margin-top: 10px;
  border: 1px solid #3a3b3c;
  border-radius: 10px;
}
#centerContentPost1lowerContent {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.lowerContentIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#liveVideoIcon {
  color: #f4556f;
  font-size: 20px;
}
#photoVideoIcon {
  color: #58c472;
  font-size: 20px;
}
#feelingActivityIcon {
  color: #f5be3e;
  font-size: 20px;
}
.post1lowerContentText {
  color: #b8bbbf;
  margin-left: 5px;
}
.lowerContentIcons {
  width: 300px;
  height: 40px;
  border-radius: 7px;
}
.lowerContentIcons:hover {
  cursor: pointer;
  background-color: rgba(151, 144, 144, 0.301);
}
#createRomeDiv {
  display: flex;
  margin-top: 10px;
  padding: 18px;
  background-color: #242526;
  border-radius: 7px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#createRomeIcon {
  color: rgb(130, 63, 168);
  font-size: 20px;
  margin-left: 11px;
}
#createRomeChildDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #318ef5;
  width: 155px;
  height: 40px;
  margin-left: 10px;
  border-radius: 60px;
  cursor: pointer;
}
#createRomeChildDiv:hover {
  background-color: rgba(167, 163, 163, 0.301);
}
#createRomeChildDiv span {
  margin-left: 10px;
  color: #297be6;
  font-weight: 600;
}
#createProfImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-direction: row;
  margin-left: 17px;
  cursor: pointer;
}
#createRomeProfileDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  overflow: auto;
  margin-left: 15px;
}
#createProfImg:hover {
  opacity: 0.8;
}
.rightContent {
  display: flex;
  width: 23%;
  height: 90vh;
  display: flex;
  justify-content: right;
  flex-direction: column;
  padding-right: 5px;
}
.upperPortion {
  width: 300px;  
  border-radius: 13px;
}
.SponserTitle {
  width: 150px;
  margin: 10px 0px;
}
.SponserTitle span {
  color: #b8babf;
  font-size: 20px;
}
.sponserBlockDiv {
  border-bottom: 2px solid #4e4f50;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.sponserBlockDiv:hover{
  border-radius: 7px;
  background-color: #5d5f61;
}
.sponserImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.PizzaImage {
  width: 248px;
      height: 115px;
      border-radius: 7px;
}
.sponsercontent {
  display: flex;
  align-items: flex-start;
  margin-left: 12px;
  word-break: break-all;
  flex-direction: column;
  flex-wrap: nowrap;
}
.sponsercontent h4 {
  color: #b8babf;
}
.sponsercontent p {
  color: #fff;
  font-size: 12px;
}
.sponsercontent img {
  margin: 10px 0px;
}
.centerPortion {
  border-bottom: 1px solid #444546;
}
#birthdayIcon {
  color: #297be6;
  font-size: 30px;
}
.personBirthday {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 13px 10px;
}
.birthdayContent p strong {
  color: #fff;
}
.birthdayContent p {
  color: #b8babf;
  font-size: 15px;
  margin-left: 12px;
}
.Contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.contactsProfiles {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}
.contactsProfileImage {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}
.lowerPortion {
  height: 40vh;
  flex-direction: column;
  overflow: auto;
  margin-top: 10px;
}
.ContactsText {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ContactsText span {
  font-size: 20px;
  color: #b8babf;
}
.contactsIcons {
  display: flex;
  flex-direction: row;
  margin-left: 69px;
}
.ContactIconsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.Icons {
  color: #b8babf;
  font-size: 15px;
}
.ContactIconsDiv:hover {
  background-color: #5d5f61;
}
.contactsProfiles:hover {
  background-color: #373e46;
}
.contactsProfileNames {
  margin-left: 10px;
}
.contactsProfileImage {
  border-radius: 50%;
}
.contactsProfileNames {
  color: #b8babf;
  font-size: 17px;
}
