* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  background-color: #18191a;
}
header {
  width: 100%;
  background-color: #242526;
  border: 1px solid #3b3f42;
  
}
header ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 60px;
}
#navRight {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0px 5px;
}
#fbLogo {
  padding: 9px;
}
#logo {
  position: relative;
  width: 40px;
  height: 40px;
  color: #1198f5;
  border-radius: 50%;
  outline: none;
  text-decoration: none;
}
#searchBarDiv {
  width: 250px;
  height: 40px;
  display: flex;
  cursor: pointer;
  border-radius: 50px;
  background-color: #373e46;
}
#searchBar {
  border: none;
  outline: none;
  width: 200px;
  color: #fff;
  font-size: 16px;
  margin-left: 7px;
  background-color: transparent;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
#searchIconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}
#searchIcon {
  color: #b0b3b8;
  font-size: 15px;
  cursor: pointer;
}
#leftNavBar {
  position: absolute;
  width: 300px;
  /* height: 100%; */
  background-color: transparent;
  overflow: auto;
  overflow-x: hidden;
  z-index: -1;
}
#navCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    /* padding: 20px; */
  }
  .navCentericonsDiv{
      font-size: 23px;
      padding: 16px 40px;
      cursor: pointer;
      color: #73797F;
  }
  .navCentericonsDiv:hover{
      color: #318ef5;
      background-color: transparent;
      border-bottom: 4px solid #318ef5;
    }
.itemsDiv {
  display: flex;
  justify-content: left;
  align-items: center;
}
.icon,
#friendsIcon,
#groupsIcon,
#savedIcon,
#marketplaceIcon,
#memoriesIcon,
#eventsIcon,
#pagesIcon,
#weatherIcon,
#jobsIcon,
#seeMoreIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
}
.profileText {
  color: rgb(228, 230, 235);
  font-size: 15px;
  margin: 2px;
  font-weight: 600;
}
.fa-bookmark {
  color: #ae4bc9;
}
#marketplaceIcon,
#friendsIcon,
.fa-calendar-week,
.fa-flag {
  color: #318ef5;
}
#groupsIcon {
  color: rgb(226, 220, 220);
  background-color: #318ef5;
}
.fa-history {
  color: #318ef5;
  background-color: rgb(226, 220, 220);
}
.fa-cloud-sun {
  color: #b5c7d1;
}
.fa-briefcase {
  color: #e28c39;
}
#leftNavBar #leftNavBarUl {
  margin-top: 10px;
}
#leftNavBar #leftNavBarUl li {
  margin-left: 20px;
  list-style: none;
}
#leftNavBar #leftNavBarUl li:hover {
  border-radius: 10px;
  background-color: #303031;
  cursor: pointer;
}
.fa-chevron-circle-down {
  color: #444546;
  background-color: #e7e9ed;
  border: 5px solid #444546;
}
#profileDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
}
#profileDiv:hover{
    border-radius: 600px;
    background-color: rgba(151, 144, 144, 0.2);
}
#rightNav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}
#navprofileText{
    margin-left: 5px;
    color: rgb(228, 230, 235);
    font-size: 15px;
    font-weight: 600;
}
#profileImage{
    margin: 0;
    margin-bottom: -7px;
}
#nineDotImage{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navRightIconsDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    background-color: #4E4F50;
    border-radius: 50%;
    padding: 6px; 
}
#messengerIconDiv,#notificationIconDiv, #dropDownIconDiv{
  width: 35px;
  height: 35px;
  color: #fff;
  margin-left: 10px;
}
.navRightIconsDiv:hover{
  background-color: rgba(151, 144, 144, 0.9);
}
